[defaults]
# Путь к файлу инвентаря
inventory = ./inventory/inventory.yml

# Путь к директории с ролями (на первом месте galaxy чтобы скачивал в galaxy)
roles_path = ./galaxy_roles:./roles
# Отключаем проверку хост-ключей при первом подключении к новому VPS.
# Это критично для роли bootstrap
host_key_checking = False

# Отключаем создание .retry файлов при ошибках
retry_files_enabled = False

# Увеличиваем количество параллельных подключений
#forks = 10

# Таймаут ожидания SSH-ответа (в секундах)
timeout = 30

# Указываем Ansible автоматически искать Python 3. 
# Это важно, так как роль bootstrap устанавливает python3.9/3.11, и мы хотим, чтобы Ansible переключился на него без предупреждений.
interpreter_python = auto_silent

# Путь к файлу с паролем от Vault (раскомментируйте и укажите путь, если используете файл вместо --ask-vault-pass)
vault_password_file = ~/.vault_pass.txt

[privilege_escalation]
# Включаем повышение привилегий по умолчанию (чтобы не писать become: true в каждом плейбуке)
become = True
become_method = sudo
become_user = root
become_ask_pass = False


[ssh_connection]
# Включаем pipelining. Это значительно ускоряет выполнение задач, т.к. уменьшает количество SSH-сессий. 

pipelining = True

# Настройки SSH-мультиплексирования (переиспользование одного TCP-соединения для нескольких задач)
#ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthenticities=publickey
